<h1>List of artists</h1>

<table border = "1">
  <tr>

    <th>
      Name
    </th>

    <th>
      
    </th>
  </tr>

  <% @list_of_artists.each do |an_artist|%>
    <tr>
      <td>
        <%= an_artist.name %>
      </td>

      <td>
        <a href="/artists/<%= an_artist.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>