 <h1>
  User #<%= @the_user.name %>'s Details
</h1>

<a href="/users" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

  <dl>
    <dt>
      Email
    </dt>
    <dd>
      <% @the_user.email %>
    </dd>
    <dt>
      Bookmarks
    </dt>
    <dd>
      
    </dd>
  </dl>
