<h1>List of paintings</h1>

<table border = "1">
  <tr>

    <th>
      Title
    </th>

    <th>
      Image
    </th>

    <th>
      
    </th>
  </tr>

  <% @list_of_paintings.each do |a_painting|%>
    <tr>

      <td>
        <%= a_painting.title %>
      </td>

      <td>
        <img src="<%= a_painting.image %>" class = "img-thumbnail picture"/>
      </td>

      <td>
        <a href="/paintings/<%= a_painting.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>